// Breakpoint Mixins
@mixin sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}

// Layout Mixins
@mixin container {
  width: 100%;
  max-width: $breakpoint-xl;
  margin: 0 auto;
  padding-left: $spacing-4;
  padding-right: $spacing-4;

  @include md {
    padding-left: $spacing-6;
    padding-right: $spacing-6;
  }

  @include lg {
    padding-left: $spacing-8;
    padding-right: $spacing-8;
  }
}

// Flexbox Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
